<div class="container mt-4">
    <h1>สถานที่ท่องเที่ยวในจังหวัดชลบุรี</h1>
<div class="card" style="width: 100%;">
    <img src="https://dechapop.files.wordpress.com/2019/07/chonburi-attractions-2.jpg?w=604" class="card-img-top" 
    alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>