<div class="container mt-5">
    <h1 class="text-center">รายชื่อสมาชิกในกลุ่ม</h1>
    <div class="row text-center">
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/team/7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">นายฐิติกร ทับสุข</h5>
              <p class="card-text"> ปวส1/4</p>
              <a href="#" class="btn btn-primary">ต้า</a>
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/team/8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">นายรุจดนัย ฮวดสกุล</h5>
              <p class="card-text">ปวส 1/4</p>
              <a href="#" class="btn btn-primary">ชล</a>
            </div>
      </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="assets/team/9.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">นายศรัณย์ภัทร อารยพรหม</h5>
              <p class="card-text">ปวส 1/4</p>
              <a href="#" class="btn btn-primary">หยก</a>
            </div>
      </div>
    </div>
  </div>